{% extends 'auth.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4 mx-4">
                    <div class="card-body p4">
                        {% include '_flashes.html.twig' %}

                        <h1>Sign up</h1>

                        <p class="text-body-secondary">Create your account</p>

                        {{ form_start(form) }}

                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="cil-user"></i>
                            </span>
                            {{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name'}}) }}
                            {{ form_errors(form.firstName) }}
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="cil-user"></i>
                            </span>
                            {{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name'}}) }}
                            {{ form_errors(form.lastName) }}
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">@</span>
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="input-group mb-4">
                            <span class="input-group-text">
                                <i class="cil-lock-locked"></i>
                            </span>
                            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                            {{ form_errors(form.password) }}
                        </div>

                        <div class="col-12 d-grid gap-2">
                            <button type="submit" class="btn btn btn-success">Create Account</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                    <div class="card-footer p4">
                        <div class="row">
                            <div class="col-12 d-grid gap-2">
                                <a href="{{ path('oauth.google') }}" class="btn btn-primary btn-google">
                                    <span>google</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}